.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15vw;
}

.account {
  display: flex;
  flex-direction: row;
  margin-top: 4vh;
}

.button,
.buttonU {
  border-width: 0px;
  background-color: white;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 1vw;
  margin-top: 1vh;
}

.text {
  display: flex;
  color: red;
  font-size: 1.8vh;
  margin-bottom: -2vh;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonU {
  margin-left: -1vw;
}
