.input {
  border-width: 2px;
  border-radius: 10px;
  width: 20vw;
  height: 3vh;
  margin-top: 2vh;
  padding-left: 0.8vw;
}
.text {
  color: red;
  font-size: 1.5vh;
  /* height: 1.5vh; */
  min-height: 2vh;
}

.textarea {
  border-width: 2px;
  border-radius: 10px;
  width: 20vw;
  height: 8vh;
  margin-top: 2vh;
  padding-left: 0.8vw;
  resize: none;
}
