.home {
  background-image: url(../../Images/bkDetail.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 87%;
  overflow-x: hidden;
}

.container {
  margin-bottom: 5vh;
}

.text {
  color: black;
  font-size: 4vh;
  margin-top: 15vh;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 4px;
}
