.iconButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu {
}

.item {
  margin-right: 0.5vw;
  color: var(--navBar-color);
  background-color: var(--primary-font-color);
}
