.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15vw;
}

.account {
  display: flex;
  flex-direction: row;
  margin-top: 4vh;
}

.button {
  border-width: 0px;
  background-color: white;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 1vw;
  margin-top: 1vh;
}
