.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15vw;
  /* margin-bottom: 2vh; */
}

.account {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* margin-top: 4vh; */
  margin-right: -4vw;
}

.button {
  border-width: 0px;
  background-color: transparent;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  margin-left: -2vw;
  margin-top: 0.8vh;
  font-size: 1vw;
}
